[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

click = "==6.7"
cssmin = "==0.2.0"
"flask-assets" = "==0.12"
flask = "==0.12.2"
itsdangerous = "==0.24"
"jinja2" = "==2.9.6"
jsmin = "==2.2.2"
markupsafe = "==1.0"
"newspaper3k" = "==0.2.2"
nltk = "==3.2.4"
webassets = "==0.12.1"
werkzeug = "==0.15.3"
requests = "*"

