#index {
    padding-top: 130px;
    padding-bottom: 150px;

    #slogan{
        text-align: center;
   
        #index-url-box{
            height: 50px;
            width: 55%;
            box-sizing: border-box;
            padding: 5px;
        }
    }

    #recent_feed{
        text-align: left;
        padding-top: 15px;
    }
}
