#summarised {
    padding-top: 20px;
    padding-bottom: 80px;

    &-title-input { margin-bottom: 1em; }

    &-title { margin-bottom: 0px; }

    &-article-title {
        margin-top: 10px;
        padding-top: 10px;
        font-size: 24px;
        text-align: center;
    }

    &-article-content {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 50px;
    	margin-left: 13%;
    	margin-right: 13%;
    }

    #btn-submit {
        margin-top: 16px;
    }
}
