#summarised {
    padding-top: 20px;
    padding-bottom: 80px;


    &-title-input { margin-bottom: 1em; }

    &-title { margin-bottom: 0px; }

    &-article {
      margin-bottom: 50px;
        &-title { font-style: italic; }

        &-content {
            width: 550px;
        }
    }

    #btn-submit { margin-top: 16px; }
}
