{% extends "base.html" %}
{% block content %}
<div id="feed" class="container">
  {% if category %}
    <h1>{{ category }} feed</h1>
    {% for article_date in articles.keys() | sort(reverse=True) %}
      <h4>{{ article_date }}</h4>
      <ul>
          {% for article in articles.get(article_date) %}
            <li>
              <h3><a href="{{ url_for('summarised') + '?url=' + article.url }}">
                  {{ article.title }}
              </a></h3>

              {% for sentence in article.sentences[:2] | sort(attribute='index') %}
                <p>{{ sentence['data'] }}</p>
              {% endfor %}
            </li>
          {% endfor %}
      </ul>
    {% endfor %}

    {% if page >= 2 %}
      <p><a href="{{ url_for('feed', category=category, page=page-1) }}">Previous</a></p>
    {% endif %}

    {% if page < max_page %}
      <p><a href="{{ url_for('feed', category=category, page=page+1) }}">Next</a></p>
    {% endif %}
  {% else %}
    <h1>Categorized Feed Search</h1>

    <p>
      <form action = "{{ url_for('feed') }}" method = "post">
        <p><input type="text" name="category"></p>
        <p id="btn-submit"><input type="submit" value="View Categorized Feed"></p>
      </form>
    </p>
    
  {% endif %}
</div>

{% endblock %}
