{% extends "base.html" %}
{% block content %}
  <div id="top" class="container">
      <h1>Categorized Feed Search</h1>
  </div>

  <div id="search" class="container col-lg-3 input-group">
    <form action = "{{ url_for('feed') }}" method = "post">
      <span class="input-group-btn">
      <input type="text" name="category" class="form-control">
          <button type="submit" class="btn btn-default" value="View Categorized Feed">
              Search
          </button>
      </span>
    </form>
  </div>

  <div id="feed" class="container">
    {% if category %}
      <h3>Results for "{{ category }}"</h3>
      <br />
      {% for article_date in articles.keys() | sort(reverse=True) %}
      <table class="table table-hover">
          <tbody>
              <thead class="thead-default"> <h4>{{ article_date }}</h4></thead>
                {% for article in articles.get(article_date) %}
                <tr>
                    <td>
                        <h3><a href="{{ url_for('summarised') + '?url=' + article.url }}">
                            {{ article.title }}
                        </a></h3>

                        {% for sentence in article.sentences[:2] | sort(attribute='index') %}
                          <p>{{ sentence['data'] }}</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endfor %}

      <ul class="pager">
      {% if page >= 2 %}
      <li><a href="{{ url_for('feed', category=category, page=page-1) }}">Previous</a></li>
      {% endif %}

      {% if page < max_page %}
        <li><a href="{{ url_for('feed', category=category, page=page+1) }}">Next</a></li>
      {% endif %}
      </ul>

    {% else %}
      <h3 style="margin-top: 40px;">Most Popular Categories</h3>
       <p id="keyword-list">
       {% for category in categories %}
   	<a id="category" href="{{ url_for('feed', category=category) }}">#{{ category }}</a>
       {% endfor %}
       </p>
    {% endif %}
  </div>
</body>
{% endblock %}
