<div id="footer" class="container-fluid">
  <div class="container text-center">
    <h2 class="col-md-12">Our Supported Websites</h2>
    <a href="http://www.news.com.au/" target="_blank" class="col-md-3" style="padding-top: 10px;"><img src="static/resource/newsau.png"></a>
    <a href="https://techcrunch.com/" target="_blank" class="col-md-3" style="padding-top: 10px;"><img src="static/resource/techcrunch.png"></a>
    <a href="https://www.wired.com/" target="_blank" class="col-md-3" style="padding-top: 25px;"><img src="static/resource/wired.png"></a>
    <a href="http://www.cricket.com.au/" target="_blank" class="col-md-3" style="padding-top: 10px;"><img src="static/resource/cricketau.png"></a>
    <hr />
    <p id="footer-made-with" class="col-md-12">Made with <span id="footer-icon"></span> in Comp4920 by</p>
    <p class="col-md-12">Jamison Tsai | Josh Leeb-du Toit | Le Thanh Son | Pratulya Kashyap | Richard Lies</p>

  </div>

  <script type="text/javascript">
    let footerIconIndex = 0;
    let footerIcons = [
      '&#x2764',   // heart
      '&#x2615;',  // coffee
      '&#x1f32f;', // burrito
      '&#x1f4aa;', // muscles
      '&#x1f354;', // burger
      '&#x1f36a;', // cookie
      '&#x1f377;', // wine
      '&#x1f37a;', // beer
      '&#x1f363;'  // nigiri
    ];

    function updateFooterIcon() {
      $('#footer-icon').html(
        footerIcons[footerIconIndex++ % footerIcons.length]);
    }

    updateFooterIcon();
    window.setInterval(updateFooterIcon, 1000);
  </script>
</div>
