<div id="header_summarised">
  <nav class="navbar navbar-inverse">
    <div class="container" id="nav-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Summariser</a>
      </div>

      <div id="summarised-search">
        <form action="{{ url_for('summarised') }}" method="get" name="article-entry">
        <input type="url" name="url" id="summarised-url-input" size="100" 
	placeholder="Summarise another article ..." />

	<input type="submit" id="summarised-submit-button" value="Summarize">
	</form>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Another Page</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
