{% extends "base.html" %}
{% block content %}

<body background="{{ url_for('static', filename='urban.png') }}" style="background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: 100% auto;">
  <div id="index" class="container">
    <div id="slogan">
      <h1>Don't have time?</h1>
      <h1>You have Newsy!</h1>
      <br />
      <br />
      <form action="{{ url_for('summarised')}}" method="post">
        <input type="url" name="url" placeholder="Enter the URL of an article to summarize" id="index-url-box"></input>
        <br />
        <br />
        <button type="submit" class="btn btn-default btn-lg btn-success">
            Summarize! 
        </button>
      </form>
    </div>

    <div id="recent_feed" style="float: right; margin-right:10px;">
      <h4 style="text-align: center;">Recently Updated</h4><span>
      <h3></h3>
      <h3></h3>
      <div id="article-list">
      {% for article_date in articles.keys() | sort(reverse=True) %}
          {% for article in articles.get(article_date) %}
              <div id="article-box" style="padding-right: 15px;">
                  <p><b><a href="{{ url_for('summarised') + '?url=' + article.url }}" style="font-size: 12px;">{{ article.title }}</a></b></p>
                  <p><span style="float: left; font-size: 12px;"><i>{{ article_date }}</i></span>
                     <span style="float: right; font-size: 12px; margin-right: 5px;"><a href="http://{{ article.url }}" target="_blank"><i class="fa fa-external-link">Original article</i></a></span>
                  </p>
              </div>
          {% endfor %}
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h2 class="col-md-12"></h2>
    <h2 class="col-md-12">Popular Supported Websites</h2>
    <h2 class="col-md-12"></h2>
    <a href="https://techcrunch.com/" target="_blank" class="col-md-3"><img src="static/tc_logo.png" style="display: inline-block;overflow: hidden;width: 80%;"></a>
    <a href="http://www.news.com.au/" target="_blank" class="col-md-3"><img src="static/newsau_logo.png" style="display: inline-block;overflow: hidden;width: 80%;"></a>
    <a href="https://www.wired.com/" target="_blank" class="col-md-3" ><img src="static/wired_logo.png" style="display: inline-block;overflow: hidden;width: 80%;"></a>
    <a href="http://www.cricket.com.au/" target="_blank" class="col-md-3"><img src="static/crick_logo.png" style="display: inline-block;overflow: hidden;width: 80%;"></a>
    <h2 class="col-md-12"></h2>
  </div>
</body>

{% endblock %}
