{% extends "base.html" %}
{% block content %}

<div id="sites" class="container">
  {% if site %}
    <h1>{{ site }}</h1>

    {% for article_date in articles.keys() | sort(reverse=True) %}
      <h2>{{ article_date }}</h2>
      <ul>
          {% for article in articles.get(article_date) %}
            <li><a href="#">{{ article.title }}</a></li>
          {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <h1>Sites</h1>

    <ul>
      {% for site in sites %}
        <li><a href="/sites/{{ site }}">{{ site }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}
