{% extends "base.html" %}
{% block content %}
    {% if site %}
    <div id="top" class="container">  
      <h1>{{ site }}</h1>
    </div>
      <br />
      <div id="feed" class="container">
      {% for article_date in articles.keys() | sort(reverse=True) %}
        <table class="table table-hover">
          <tbody>
              <thead class="thead-default"> <h4>{{ article_date }}</h4></thead>
                {% for article in articles.get(article_date) %}
                <tr>
                    <td>
                        <h3><a href="{{ url_for('summarised') + '?url=' + article.url }}">
                            {{ article.title }}
                        </a></h3>

                        {% for sentence in article.sentences[:2] | sort(attribute='index') %}
                          <p>{{ sentence['data'] }}</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      </div>

      <ul class="pager">
      {% if page >= 2 %}
        <li><a href="{{ url_for('sites', site=site, page=page-1) }}">Previous</a></li>
      {% endif %}

      {% if page < max_page %}
        <li><a href="{{ url_for('sites', site=site, page=page+1) }}">Next</a></li>
      {% endif %}
      </ul>

    {% else %}
      <h1 style="text-align:center">Sites</h1>
      <br />
        <div class="row" style="margin-top: 30px;">
          <span class="col-md-4" style="align-items: center;justify-content: center;padding-left:90px;padding-right:90px;"><a href="/sites/news.com.au"><img src="static/newsau_logo.png" width="204"></a></span>
          <span class="col-md-4" style="align-items: center;justify-content: center;padding-left:90px;padding-right:90px;"><a href="/sites/techcrunch.com"><img src="static/tc_logo.png" width="204"></a></span>
          <span class="col-md-4" style="align-items: center;justify-content: center;padding-left:90px;padding-right:90px;"><a href="/sites/wired.com"><img src="static/wired_logo.png" width="204"></a></span>
        </div>

        <div class="row" style="margin-top: 30px;margin-bottom: 50px;">
          <span class="col-md-6" style="align-items: center;justify-content: center;padding-left:300px;padding-right:100px;"><a href="/sites/venturebeat.com"><img src="static/venturebeat_logo.png" width="204"></a></span>
          <span class="col-md-6" style="align-items: center;justify-content: center;padding-left:100px;padding-right:300px;"><a href="/sites/hackernoon.com"><img src="static/hacker_logo.png" width="204"></a></span>
         </div>
      </div>
    {% endif %}
  </div>
</body>
{% endblock %}
