{% extends "base.html" %}
{% block content %}
<body background="{{ url_for('static', filename='rocket.png') }}" style="background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: 100% auto;">
  <div id="sites" class="container">
    {% if site %}
      <h1>{{ site }}</h1>

      {% for article_date in articles.keys() | sort(reverse=True) %}
        <h4>{{ article_date }}</h4>
        <ul>
            {% for article in articles.get(article_date) %}
              <li>
                <h3><a href="{{ url_for('summarised') + '?url=' + article.url }}">
                    {{ article.title }}
                </a></h3>

                {% for sentence in article.sentences[:2] | sort(attribute='index') %}
                  <p>{{ sentence['data'] }}</p>
                {% endfor %}
              </li>
            {% endfor %}
        </ul>
      {% endfor %}

      {% if page >= 2 %}
        <p><a href="{{ url_for('sites', site=site, page=page-1) }}">Previous</a></p>
      {% endif %}

      {% if page < max_page %}
        <p><a href="{{ url_for('sites', site=site, page=page+1) }}">Next</a></p>
      {% endif %}
    {% else %}
      <h1>Sites</h1>
      <div class="container" style="margin-bottom: 70px;">
        <div class="row" style="margin-top: 30px;">
          <span class="col-md-4"><a href="/sites/news.com.au"><img src="static/newsau_logo.png" width="204" height="65"></a></span>
          <span class="col-md-4"><a href="/sites/techcrunch.com"><img src="static/tc_logo.png" width="204" height="55"></a></span>
          <span class="col-md-4"><a href="/sites/wired.com"><img src="static/wired_logo.png" width="204" height="55"></a></span>
        </div>

        <div class="row" style="margin-top: 30px;">
          <span class="col-md-4"><a href="/sites/cricket.com.au"><img src="static/crick_logo.png" width="204" height="71"></a></span>
          <span class="col-md-4"><a href="/sites/venturebeat.com"><img src="static/venture_logo.png" width="204" height="75"></a></span>
          <span class="col-md-4"><a href="/sites/hackernoon.com"><img src="static/hacker_logo.png" width="204" height="75"></a></span>
         </div>
      </div>  
    {% endif %}
  </div>
</body>
{% endblock %}
