{% extends "base_summarised.html" %}
{% block content %}

<div id="summarised" class="container">
  

  <div id= "summarised-article">
      <div id="summarised-article-content">
          <h2 style="margin-bottom:0px;"> Summarised </h2>
          <h2 id="summarised-article-title">{{article_title}}</h2>
          <p><b>Keywords: |
              {% for word in article_keywords %}
              {{ word }} | 
              {% endfor %}
          </b></p>
          <p>{{article_summary}}</p>
      </div>
      <div id="summarised-article-content">
          <h2 style="margin-bottom:0px;"> Original Text</h2>
          <h2 id="summarised-article-title">{{article_title}}</h2>
          <p>{{article_original}}</p>
      </div>
  </div>


</div>

<script type="text/javascript">
</script>

{% endblock %}
