{% extends "base.html" %}
{% block content %}

<div id="summarised" class="container">
  <div id= "summarised-article">
    <div id="summarised-article-content">
      <h2 style="margin-bottom:0px;"> Summarised</h2>
      <h2 id="summarised-article-title">{{title}}</h2>
    
      {% if sentences %}
        <h3>Summary</h3>
        {% for sentence in sentences %}
          <p>{{ sentence }}</p>
        {% endfor %}
      {% endif %}

      {% if keywords %}
        <h3>Keywords</h3>
        {% for keyword in keywords %}
          {{ keyword }}
        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
