{% extends "base.html" %}
{% block content %}

<div id="summarised" class="container">
  <h1>Newsy Summarizer</h1>

  <form action="" method="post" name="summarizer">
    {{ form.hidden_tag() }}

    <p id="text-input">
      Enter title:<br />
      {{ form.title(id='summarizer-title-input', size=80) }}<br />
      Enter text:<br />
      {{ form.text(id='summarizer-text-input', cols=90, rows=5) }}<br />
    </p>

    <p id="url-input">
      Enter link:<br />
      {{ form.url(id='summarizer-url-input', size=80) }}<br />
    </p>

    <p id="n-sentences-input">
      Enter number of sentences:<br />
      {{ form.count(id='summarizer-n-sentences-input') }}<br />
    </p>

    {% if form_error %}
      <span style="color: red;">{{ form_error }}</span>
    {% endif %}

    <p id="btn-submit"><input type="submit" value="Summarize"></p>
    <p><a id="switch-input-link"
      onClick="switchSummarizerInput()">Enter text instead</a></p>
  </form>

  <hr />

  <div id= "summarised-article">
    <div id="summarised-article-title">
      {% if article_title %}
        {% if article_url %}
          <h2><a href={{ article_url }}>{{ article_title }}</a></h2>
        {% else %}
          <h2>{{ article_title }}</h2>
        {% endif %}
      {% endif %}
    </div>

    {% if article_sentences %}
      <div id="summarised-article-content">
        {% for sentence in article_sentences %}
          <p>{{ sentence }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if article_analysis %}
      <div id="summarised-article-content">
        <p class="analysis">Article's Sentiment Analyisis: {{ article_analysis }}</p>
      </div>
    {% endif %}

    {% if article_keywords %}
      <div id="summarised-article-content">
        <h4>Keywords</h4>
        <p>{{ ', '.join(article_keywords) }}</p>
        <i>Suggest keywords (space separated):</i>
          <form>
            <input type="text" name="keywords">
          </form>
      </div>
    {% endif %}
    {% if article_sentences %}
      <div id="summarised-review">
        <h3 id="summarised-review-question">Was this a good summary?
          <a onClick="summarisedReview(true)">Yes</a> or
          <a onClick="summarisedReview(false)">No</a>
        </h3>
        <p id="summarised-positive-response" style="display: none;">Thanks for the
        positive review!</p><p id="summarised-negative-response" style="display:
        none;">Sorry to hear that. We have been notified and promise to make
        Newsy better for you.</p>
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  let inputType = window.location.hash === '#text' ? 'text' : 'url';
  
  window.onload = function() {
    let url = getUrlParameter('url');

    if (url) {
      window.history.replaceState(
        {}, '{{ title }}', '{{ url_for("summarised") }}');
      $('#summarizer-url-input')[0].value = url;
    }

    setSummarizerInput(inputType);
  }();

  let summarisedReview = function(isPositive) {
    $('#summarised-review-question').hide();

    if (isPositive) {
      $('#summarised-negative-response').hide();
      $('#summarised-positive-response').show();
    } else {
      $('#summarised-negative-response').show();
      $('#summarised-positive-response').hide();
    }

    $.ajax({
      type: "POST", dataType: 'json',
      url: '/review',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        review: isPositive ? 'positive' : 'negative',
        title: $('#summarizer-title-input')[0].value,
        text: $('#summarizer-text-input')[0].value,
        url: $('#summarizer-url-input')[0].value,
        sentences: $('#summarizer-n-sentences-input')[0].value,
      }),
    });
  }
</script>

{% endblock %}
